extends layout
block content
  h1 About Me
  h3 I am curious.
  .row
    .col-sm-6.col-md-1
    .col-sm-6.col-md-4
      .thumbnail
        a(href="images/about_me.jpg")
          img(src="images/about_me.jpg")
        .caption
        p Nice to meet you
    .col-sm-6.col-md-1
    .col-sm-6.col-md-5
      .row
        h4 What are you about?
        p 
          | My 
          a(href='http://invisiblepark.com/') little sister
          | , perpetual learning, balance, culture, impact, doing well by doing good
      .row
        h4 What do you do?
        p
          | I'm a data engineer at 
          a(href='https://www.premise.com/') Premise
      .row
        h4 What are you reading?
        p
          a(href='http://geekheresy.org/') Geek Heresy:
          |  Rescuing Social Change from the Cult of Technology by 
          a(href='http://www.kentarotoyama.org/profile/default.htm') Kentaro Toyama
      .row
        h4 What are you playing?
        p
          | Piano trio music by 
          a(href='http://www.piazzolla.org/') Piazzolla
          |  and 
          a(href='http://www.kenjibunch.com/') Kenji Bunch
          | , games by 
          a(href='http://www.antoinebauza.fr/?page_id=14') Antoine Bauza
      .row
        h4 Who do you admire?
        p
          | Elon Musk, Elizabeth Warren, John Hennessy, Richard Feynman, William Foege, Pixar, 
          a(href='https://amplab.cs.berkeley.edu/') AMP Lab
          | , teachers, jazz musicians, senior engineers, fantasy/sci-fi novelists, 
          | global visionaries, friends, and family
    .col-sm-6.col-md-1
