extends layout
block morehead
  link(rel="stylesheet" href="/cards.css")
block content
  h1 Cards
  h3 I like to make cards for friends.
  #grid(data-columns='')
    .thumbnail
      a(href="images/cards_dino.jpg")
        img(src="images/cards_dino.jpg")
      .caption
      h4 For Joy and Alex
      p Matching dinosaur birthday cards with cross-referencing puzzles inside for a clever couple
    .thumbnail
      a(href="images/cards_shruthi.jpg")
        img(src="images/cards_shruthi.jpg")
      .caption
      h4 For Shruthi
      p A chibi version of a lively friend with space for birthday messages from friends
    .thumbnail
      a(href="images/cards_kchen.jpg")
        img(src="images/cards_kchen.jpg")
      .caption
      h4 For KChen
      p Laminated monochrome picture of a photograph and memories
    .thumbnail
      a(href="images/cards_succulents.jpg")
        img(src="images/cards_succulents.jpg")
      .caption
      h4 For DIY Party
      p Small guest cards for a spring DIY succulents party
