h1 Cards
h3 I like to make cards for friends.
.row
  .col-sm-6.col-md-4
    .thumbnail
      img(src="images/cards_dino.jpg")
      .caption 
      h4 Dino Bday Cards
      p Matching cards for a couple

