extends layout
block morehead
  link(rel="stylesheet" href="/crafts.css")
block content
  h1 Crafts
  h3 I like to make personalized art and crafts for friends.
  #grid(data-columns='')
    .thumbnail
      a(href="images/cards_dino.jpg")
        img(src="images/cards_dino.jpg")
      .caption
      h4 For Joy and Alex
      p Matching dinosaur birthday cards with cross-referencing puzzles inside for a clever couple
    .thumbnail
      a(href="images/cards_shruthi.jpg")
        img(src="images/cards_shruthi.jpg")
      .caption
      h4 For Shruthi
      p A chibi version of a lively friend with space for everyone's birthday messages
    .thumbnail
      a(href="images/cards_kchen.jpg")
        img(src="images/cards_kchen.jpg")
      .caption
      h4 For KChen
      p Laminated monochrome picture of a photograph with memories
    .thumbnail
      a(href="images/cards_succulents.jpg")
        img(src="images/cards_succulents.jpg")
      .caption
      h4 For DIY Party
      p Small guest cards for a spring DIY succulents party
    .thumbnail
      a(href="images/painting_plants.jpg")
        img(src="images/painting_plants.jpg")
      .caption
      h4 For Rachael
      p Mini-canvas watercolor with permanent ink as a birthday party favor
    .thumbnail
      a(href="images/painting_dino.jpg")
        img(src="images/painting_dino.jpg")
      .caption
      h4 For Andrew
      p Mini-canvas watercolor with permanent ink as a birthday party favor
    .thumbnail
      a(href="images/painting_pusheen.jpg")
        img(src="images/painting_pusheen.jpg")
      .caption
      h4 For KChen
      p Mini-canvas watercolor with permanent ink as a birthday party favor
    .thumbnail
      a(href="images/food_onigiri.jpg")
        img(src="images/food_onigiri.jpg")
      .caption
      h4 For Wendy
      p Onigiri for a friend's housewarming, in the shape of bears, hearts, and stars
