extends layout
block morehead
  link(rel="stylesheet" href="/crafts.css")
block content
  h1 Crafts
  h3 I like to make personalized art and crafts for friends.
  #grid(data-columns='')
    .thumbnail
      a(href="images/cards_dino.jpg")
        img(src="images/cards_dino.jpg")
      .caption
      h4 For Joy and Alex
      p Matching dinosaur birthday cards with cross-referencing puzzles inside for a clever couple
    .thumbnail
      a(href="images/cards_shruthi.jpg")
        img(src="images/cards_shruthi.jpg")
      .caption
      h4 For Shruthi
      p A chibi version of a lively friend with space for everyone's birthday messages
    .thumbnail
      a(href="images/cards_kchen.jpg")
        img(src="images/cards_kchen.jpg")
      .caption
      h4 For KChen
      p Laminated monochrome picture of a photograph with memories
    .thumbnail
      a(href="images/cards_succulents.jpg")
        img(src="images/cards_succulents.jpg")
      .caption
      h4 For DIY Party
      p Small guest cards for a spring DIY succulents party
    .thumbnail
      a(href="images/crafts_succulents.jpg")
        img(src="images/crafts_succulents.jpg")
      .caption
      h4 For DIY Party
      p Small sample of plants from hosting a spring DIY succulents party
    .thumbnail
      a(href="images/painting_plants.jpg")
        img(src="images/painting_plants.jpg")
      .caption
      h4 For Rachael
      p Mini-canvas watercolor with permanent ink as a birthday party favor
    .thumbnail
      a(href="images/painting_dino.jpg")
        img(src="images/painting_dino.jpg")
      .caption
      h4 For Andrew
      p Mini-canvas watercolor with permanent ink as a birthday party favor
    .thumbnail
      a(href="images/painting_pusheen.jpg")
        img(src="images/painting_pusheen.jpg")
      .caption
      h4 For KChen
      p Mini-canvas watercolor with permanent ink as a birthday party favor
    .thumbnail
      a(href="images/food_onigiri.jpg")
        img(src="images/food_onigiri.jpg")
      .caption
      h4 For Wendy
      p Onigiri for a friend's housewarming, in the shape of bears, hearts, and stars
    .thumbnail
      a(href="images/crafts_teachocolatepairs.jpg")
        img(src="images/crafts_teachocolatepairs.jpg")
      .caption
      h4 For Angela & David
      p Original tea blends and chocolate pairings as a small gift bag
    .thumbnail
      a(href="images/cards_angeladavid.jpg")
        img(src="images/cards_angeladavid.jpg")
      .caption
      h4 For Angela & David
      p Fairytale themed engagement card for my senpai and her fiance (outside)
    .thumbnail
      a(href="images/cards_angeladavid2.jpg")
        img(src="images/cards_angeladavid2.jpg")
      .caption
      h4 For Angela & David
      p Fairytale themed engagement card for my senpai and her fiance (inside)
    .thumbnail
      a(href="images/cards_jonah.jpg")
        img(src="images/cards_jonah.jpg")
      .caption
      h4 For Jonah (and Becca)
      p Baby and navy blues to accompany a whale blanket for my friend's new baby
    .thumbnail
      a(href="images/cards_aaron.jpg")
        img(src="images/cards_aaron.jpg")
      .caption
      h4 For Aaron
      p Winter-themed card for a friend's birthday around the holidays
    .thumbnail
      a(href="images/crafts_coasters.jpg")
        img(src="images/crafts_coasters.jpg")
      .caption
      h4 For Angela
      p Japanese-themed coasters made for a friend's birthday
