.row
  h1 Hello, World!
  h3 I like tea.
  img(src="images/pusheen_computerheart.jpg")
.row.row-buff
  a(href="https://twitter.com/dragonaire")
    .fa-stack.fa-lg
      .fa.fa-square-o.fa-stack-2x
      .fa.fa-twitter.fa-stack-1x
  a(href="https://github.com/dragonaire")
    .fa-stack.fa-lg
      .fa.fa-square-o.fa-stack-2x
      .fa.fa-github-alt.fa-stack-1x
  a(href="https://www.linkedin.com/in/yang99hong")
    .fa-stack.fa-lg
      .fa.fa-square-o.fa-stack-2x
      .fa.fa-linkedin.fa-stack-1x
  a(href="https://a-cup-of-tea.ghost.io")
    .fa-stack.fa-lg
      .fa.fa-square-o.fa-stack-2x
      .fa.fa-coffee.fa-stack-1x
