extends layout
block content
  h1 Resume
  .row
    a(href="files/YangHong_Resume.pdf", download="YangHong_Resume.pdf") 
      .fa.fa-download.fa-5x
  .row.row-buff
    a(href="https://twitter.com/dragonaire")
      .fa-stack.fa-lg.fa-2x
        .fa.fa-square-o.fa-stack-2x
        .fa.fa-twitter.fa-stack-1x
    a(href="https://github.com/dragonaire")
      .fa-stack.fa-lg.fa-2x
        .fa.fa-square-o.fa-stack-2x
        .fa.fa-github-alt.fa-stack-1x
    a(href="https://www.linkedin.com/in/yang99hong")
      .fa-stack.fa-lg.fa-2x
        .fa.fa-square-o.fa-stack-2x
        .fa.fa-linkedin.fa-stack-1x
    a(href="https://a-cup-of-tea.ghost.io")
      .fa-stack.fa-lg.fa-2x
        .fa.fa-square-o.fa-stack-2x
        .fa.fa-rss.fa-stack-1x
